# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
/media/
/staticfiles/

# Environments
.env
.venv
venv/
ENV/
env/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Sphinx documentation
docs/_build/

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env.*

# celery beat schedule file
celerybeat-schedule

# django file-based session
django_session
